# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
info-help.txt

# testing
/coverage

# next.js
/.next/
/out/
/app/api/rag/*
# production
/build

# misc
.DS_Store
*.pem
.vscode
pinecone.api.ts

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
info-help.txt
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts